@use "../../utils/commons";

.modal-overlay {
  @include commons.overlay();
  .modal-form-container {
    position: relative;
    width: 50%;
    height: auto;
    margin: 100px auto;
    background-color: white;
    border-radius: 8px;
    padding: 40px 20px;
    color: #000000;

    .event-form {
      display: flex;
      width: 60%;
      flex-direction: column;
      gap: 20px;
      margin: auto;
      margin-top: 50px;

      .event-input {
        display: flex;
        flex-direction: column;
        align-items: start;
        input {
          width: 100%;
          height: 60px;
          border-radius: 6px;
          font-size: 16px;
          padding: 0 20px;
        }
        .error-message {
          font-size: 14px;
          color: red;
          margin-top: 5px;
        }
      }
      .event-input::placeholder {
        color: #171d35;
        opacity: 0.6;
      }

      .submit-btn {
        background-color: #ffdf00;
        border: none;
        border-radius: 6px;
        width: 65%;
        margin: 40px auto;
        padding: 10px 16px;
        cursor: pointer;
      }
    }
    .close-modal {
      @include commons.closeButton();

      .close-icon {
        @include commons.closeIcon();
      }
    }
  }
}
