@use "../../utils/commons";

.day {
  position: relative;
  align-content: center;
  .text {
    padding: 8px 10px;
  }

  .event-name {
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 12px;
  }

  @media (min-width: 1400px) {
    .day {
      padding: 16px 20px;
    }
  }
}

.today {
  .text {
    margin: 0 -0.4em;
    padding: 0.1em 0.2em;
    border-radius: 0.8em 0.3em;
    background: transparent;
    background-image: linear-gradient(
      to right,
      rgba(255, 225, 0, 0.1),
      rgba(255, 223, 0, 0.7) 4%,
      rgba(255, 225, 0, 0.3)
    );
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    @media (min-width: 530px) {
      padding: 0.1em 0.4em;
    }

    @media (min-width: 1400px) {
      padding: 0.4em 1.2em;
    }
  }
}

.border {
  border: 1px solid commons.$primary-color;
  cursor: pointer;

  @media (min-width: 530px) {
    border-radius: 6px;
  }
}
