@use "../../utils/commons";

.calendar-container {
  width: fit-content;
  height: auto;
  margin: auto;
  border: 2px solid #141414;
  border-radius: 6px;
  padding: 20px;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .month {
      font-weight: bold;
      font-size: 24px;
    }

    .buttons {
      button {
        @include commons.buttonBasics();
      }

      .prev {
        margin-right: 6px;
      }
      .icon {
        height: 30px;
        width: 30px;
      }
    }
  }
  .week-days {
    display: grid;
    grid-template-columns: repeat(7, 200px);
    text-align: center;
    margin-top: 2rem;

    .week-name {
      font-size: 18px;
      font-weight: 700;
      // font-family: ;
    }
  }
  .days {
    display: grid;
    grid-template-columns: repeat(7, 200px);
    grid-template-rows: repeat(5, 100px);
    gap: 5px;
    text-align: center;
    row-gap: 1rem;
    margin-top: 1.5rem;
    color: #171d35;
  }
}
