@use "../../utils/commons";

.event-details {
  text-align: left;
  border: 2px solid commons.$primary-color;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 10px 20px;
  flex: 1;
  box-sizing: border-box;
  .title {
    font-size: 18px;
    font-weight: 700;
  }

  .user-info {
    position: relative;
    display: flex;
    gap: 10px;
    margin-top: 25px;

    .name {
      margin: 0;
      font-weight: bold;
    }
    .created-at {
      margin-top: 5px;
      margin-bottom: 0px;
      color: #545d7a;
      font-size: 14px;
    }

    .actions {
      position: absolute;
      right: 0;
      bottom: 0;

      .delete-btn {
        @include commons.buttonBasics();
        margin-left: 10px;
        .delete-icon {
          width: 30px;
          height: 30px;
          color: red;
        }
      }

      .edit-btn {
        @include commons.buttonBasics();
        .edit-icon {
          width: 30px;
          height: 30px;
          color: green;
        }
      }
    }
  }

  @media (min-width: 576px) {
    width: 100%;
    // padding: 50px 20px;
    // min-height: 200px;
  }
}
